<head>
    <h1>G00418330</h1>
</head>
<body>
      <ul>
        <li><a href="/students">Students Page</a></li>
        <li><a href="/grades">Grades Page</a></li>
        <li><a href="/lecturers">Lecturers Page</a></li>
      </ul>
</body>